*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #dff9fb;
    
}

a{
    text-decoration: none;
    color: black;
    
}




.navTop{
    height: 30px;
    background-color: #A3CB38;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    
    
    


}

.navTop p{
    font-size: 13px;
}

.navBottom{
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;

}

.vegefoods a{
    font-size: 25px;
    font-weight: bolder;
    color: #A3CB38;
    font-family: 'Questrial', sans-serif;
}

.links{
    width:440px ;
}

.links>ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 15px;
    
}

  .subLinks{
    position: absolute;
    top: 40px;
    list-style: none;
    font-size: 18px;
    background-color: white;
    padding: 10px;
    display: none;
    
} 



.subLinks li{
    list-style: none;
    padding: 5px;
    
} 


 
.links  li:nth-child(2):hover .subLinks{
    display: block;
    
    
} 
 
   


#Introduce .image {
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)),
    url(https://preview.colorlib.com/theme/vegefoods/images/xbg_1.jpg.pagespeed.ic.CriyRQ4w7N.webp);
    height: 653px;

    background-position: center;

    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    


}

.image .info p:nth-child(1){
    font-size: 80px;
    font-family: 'Shadows Into Light', cursive;
}

.image .info p:nth-child(2){
    font-size: 80px;
    font-family: 'Shadows Into Light', cursive;
}

.image .info p:nth-child(3){
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover{
    opacity: 30%;
}

button{
    transition: 1s;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.shop{
    position: relative;
}

ul li ul li{
    transition: 0.5s;
    transition-timing-function: linear;
}

ul li ul li:hover{
    background-color: black;
    
}

ul li ul li:hover a{
    color: white;
    
}



.title>p{
    font-size: 15px;
    padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.desc>p{
    font-size: 13px;
    padding-top: 15px;
    opacity: 70%;
}

.shopInfos{
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.shopInfos .info{
    text-align: center;
}

.shopInfos .info .icon{
    width: 150px;
    height: 150px;
    background-color: #e74c3c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    transition-timing-function: ease-in-out;
    border-radius: 50%;
}

.shopInfos .info .icon i{
    font-size: 45px;
    color: #dfe6e9;
}

.shopInfos .info .icon:hover{
    background-color: #a29bfe;
    transform: scale(1.2);
}

#Shopping .shopping{
    height: 615px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

#Shopping .shopping .image ,#Shopping .shopping .shopArea{
    width: 400px;
    height: 280px;
    position: relative;
    
}

#Shopping .shopping .shopArea{
    text-align: center;
}
#Shopping .shopping .shopArea p ,#Shopping .shopping .shopArea form{
    padding-top: 15px;
}




#Shopping .shopping .image a{
    width: 100px;
    height: 40px;
    background-color: green;
    color: white;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Shadows Into Light', cursive;
}


#Shopping .shopping .image img{
    width: 100%;
    height: 100%;
}

#Shopping .shopping .image{
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

#Shopping .shopping .image:hover {
    transform: scale(1.1);
    box-shadow: 3px 4px 4px black;

}

#Shopping .shopping .image a{
    transition: 0.325s;
    transition-timing-function: ease-in-out;
}

#Shopping .shopping .image a:hover {
    background-color: red;

}