*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: grey;
    
}

a{
    text-decoration: none;
    color: black;
    
}




.navTop{
    height: 30px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    


}

.navTop p{
    font-size: 13px;
}

.navBottom{
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.vegefoods a{
    font-size: 25px;
    font-weight: bolder;
    color: green;
}

.links{
    width:440px ;
}

.links>ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 15px;
    
}

  .subLinks{
    position: absolute;
    top: 74px;
    list-style: none;
    font-size: 18px;
    background-color: white;
    padding: 10px;
    display: none;
    
} 



.subLinks li{
    list-style: none;
    padding: 5px;
    
} 


 
.links  li:nth-child(2):hover .subLinks{
    display: block;
    transition-duration: 1s;
    
} 
 
   


.image {
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)),
    url(https://preview.colorlib.com/theme/vegefoods/images/xbg_1.jpg.pagespeed.ic.CriyRQ4w7N.webp);
    height: 653px;

    background-position: center;

    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    


}

.info p:nth-child(1){
    font-size: 80px;
}

button:hover{
    opacity: 30%;
}

button{
    transition: 1s;
}

.shop{
    position: relative;
}

ul li ul li{
    transition: 1s;
}

ul li ul li:hover{
    background-color: black;
    
}

ul li ul li:hover a{
    color: white;
    
}